In [1]:
import pandas as pd
import numpy as np
import sqlalchemy 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
u_csv = '~/Desktop/ETL_project/Data_for_ETL_project_raw/urbanization-state.csv'

urb_df = pd.read_csv(u_csv)

urb_df.head(25)

                   state  urbanindex
0                Alabama    9.605935
1                 Alaska    8.735964
2         American Samoa   11.085930
3                Arizona   11.299710
4               Arkansas    9.259444
5             California   12.190280
6               Colorado   11.154450
7            Connecticut   11.409680
8               Delaware   11.009990
9   District of Columbia   13.440570
10               Florida   11.464840
11               Georgia   10.552330
12                  Guam   11.085930
13                Hawaii   11.086210
14                 Idaho    9.593634
15              Illinois   11.623720
16               Indiana   10.410500
17                  Iowa    9.593525
18                Kansas   10.120440
19              Kentucky    9.789536
20             Louisiana   10.175180
21                 Maine    9.037091
22              Maryland   11.711050
23         Massachusetts   11.839730
24              Michigan   10.805590

In [3]:
d_csv = '~/Desktop/ETL_project/Data_for_ETL_project_raw/2015_Racial_Data_State_clean.csv'

demo_df = pd.read_csv(d_csv)

demo_df.head(52)

,Location,White,Black,Hispanic,Asian,American Indian/Alaska Native,Native Hawaiian/Other Pacific Islander,Two Or More Races,Total
0,United States,0.61,0.12,0.18,0.06,0.01,0.00,0.02,1
1,Alabama,0.65,0.27,0.04,NaN,NaN,NaN,0.02,1
2,Alaska,0.58,0.03,0.06,0.07,0.16,NaN,0.07,1
3,Arizona,0.51,0.04,0.37,0.03,NaN,NaN,0.02,1
4,Arkansas,0.74,0.15,0.07,0.02,NaN,NaN,0.02,1
5,California,0.39,0.06,0.38,0.15,0.00,0.01,0.02,1
6,Colorado,0.69,0.04,0.21,0.03,NaN,NaN,0.02,1
7,Connecticut,0.70,0.09,0.15,0.04,NaN,0.00,NaN,1
8,Delaware,0.63,0.21,0.10,0.04,NaN,0.00,NaN,1
9,District of Columbia,0.37,0.46,0.11,0.05,NaN,NaN,0.02,1
10,Florida,0.54,0.16,0.26,0.02,0.00,NaN,0.01,1
11,Georgia,0.52,0.31,0.10,0.05,NaN,NaN,0.02,1
12,Hawaii,0.19,0.02,0.10,0.39,NaN,0.14,0.16,1
13,Idaho,0.84,0.01,0.13,0.01,NaN,NaN,0.01,1
14,Illinois,0.63,0.13,0.16,0.06,NaN,NaN,0.01,1
15,Indiana,0.80,0.09,0.08,0.02,NaN,NaN,0.01,1
16,Iowa,0.85,0.03,0.08,0.02,NaN,NaN,0.01,1
17,Kansas,0.75,0.05,0.12,0.03,NaN,0.00,0.04,1
18,Kentucky,0.85,0.07,0.03,NaN,NaN,0.00,0.02,1
19,Louisiana,0.58,0.32,0.05,0.02,NaN,NaN,0.02,1
20,Maine,0.91,NaN,0.02,0.02,NaN,0.00,0.03,1
21,Maryland,0.50,0.30,0.11,0.06,NaN,NaN,0.03,1
22,Massachusetts,0.73,0.07,0.11,0.07,NaN,NaN,0.01,1
23,Michigan,0.76,0.14,0.05,0.03,NaN,NaN,0.02,1
24,Minnesota,0.82,0.06,0.05,0.03,0.02,NaN,0.01,1
25,Mississippi,0.56,0.38,0.03,NaN,NaN,NaN,0.01,1
26,Missouri,0.80,0.11,0.04,0.02,NaN,NaN,0.02,1
27,Montana,0.90,0.01,0.03,0.01,NaN,NaN,NaN,1
28,Nebraska,0.79,0.05,0.11,0.02,NaN,0.00,NaN,1
29,Nevada,0.50,0.09,0.28,0.08,NaN,NaN,0.03,1
30,New Hampshire,0.91,0.01,0.03,0.03,NaN,NaN,0.02,1
31,New Jersey,0.56,0.13,0.18,0.11,NaN,NaN,0.01,1
32,New Mexico,0.38,0.02,0.44,0.01,NaN,NaN,NaN,1
33,New York,0.58,0.14,0.18,0.08,NaN,NaN,0.01,1
34,North Carolina,0.62,0.21,0.11,0.02,NaN,NaN,0.02,1
35,North Dakota,0.85,0.03,0.03,0.02,0.05,NaN,0.03,1
36,Ohio,0.79,0.12,0.04,0.02,NaN,NaN,0.03,1
37,Oklahoma,0.65,0.07,0.12,0.02,0.09,NaN,0.05,1
38,Oregon,0.74,0.02,0.15,0.04,NaN,NaN,0.04,1
39,Pennsylvania,0.76,0.10,0.08,0.04,NaN,NaN,0.02,1
40,Rhode Island,0.72,0.07,0.15,0.04,NaN,0.00,NaN,1
41,South Carolina,0.64,0.27,0.05,0.02,NaN,NaN,0.01,1
42,South Dakota,0.83,0.02,0.04,NaN,NaN,NaN,0.02,1
43,Tennessee,0.73,0.17,0.06,0.02,NaN,NaN,0.02,1
44,Texas,0.44,0.12,0.37,0.05,0.00,NaN,0.01,1
45,Utah,0.81,0.01,0.13,0.02,0.01,NaN,NaN,1
46,Vermont,0.94,0.01,0.01,0.01,NaN,0.00,0.02,1
47,Virginia,0.62,0.19,0.10,0.06,NaN,NaN,0.02,1
48,Washington,0.69,0.03,0.13,0.08,NaN,NaN,0.04,1
49,West Virginia,0.93,0.03,0.01,NaN,NaN,0.00,0.02,1
50,Wisconsin,0.78,0.06,0.10,0.03,NaN,NaN,0.02,1
51,Wyoming,0.85,0.01,0.09,0.01,NaN,0.00,0.02,1

In [4]:
e_csv = '~/Desktop/ETL_project/Data_for_ETL_project_raw/elasticity-by-state_clean_key.csv'

elas_df = pd.read_csv(e_csv)

elas_df.head(25)

                   state  elasticity
0                 Alaska        1.16
1                Alabama        0.89
2               Arkansas        1.00
3                Arizona        1.05
4             California        0.94
5               Colorado        1.07
6            Connecticut        0.99
7   District of Columbia        0.80
8               Delaware        0.93
9                Florida        1.03
10               Georgia        0.90
11                Hawaii        1.07
12                  Iowa        1.08
13                 Idaho        1.12
14              Illinois        1.01
15               Indiana        0.99
16                Kansas        1.00
17              Kentucky        0.94
18             Louisiana        0.96
19         Massachusetts        1.15
20              Maryland        0.96
21                 Maine        1.13
22              Michigan        1.07
23             Minnesota        1.03
24              Missouri        0.95

In [5]:
# drop united states from the first df

demo_df.drop(demo_df.index[0], inplace = True)

demo_df

,Location,White,Black,Hispanic,Asian,American Indian/Alaska Native,Native Hawaiian/Other Pacific Islander,Two Or More Races,Total
1,Alabama,0.65,0.27,0.04,NaN,NaN,NaN,0.02,1
2,Alaska,0.58,0.03,0.06,0.07,0.16,NaN,0.07,1
3,Arizona,0.51,0.04,0.37,0.03,NaN,NaN,0.02,1
4,Arkansas,0.74,0.15,0.07,0.02,NaN,NaN,0.02,1
5,California,0.39,0.06,0.38,0.15,0.00,0.01,0.02,1
6,Colorado,0.69,0.04,0.21,0.03,NaN,NaN,0.02,1
7,Connecticut,0.70,0.09,0.15,0.04,NaN,0.00,NaN,1
8,Delaware,0.63,0.21,0.10,0.04,NaN,0.00,NaN,1
9,District of Columbia,0.37,0.46,0.11,0.05,NaN,NaN,0.02,1
10,Florida,0.54,0.16,0.26,0.02,0.00,NaN,0.01,1
11,Georgia,0.52,0.31,0.10,0.05,NaN,NaN,0.02,1
12,Hawaii,0.19,0.02,0.10,0.39,NaN,0.14,0.16,1
13,Idaho,0.84,0.01,0.13,0.01,NaN,NaN,0.01,1
14,Illinois,0.63,0.13,0.16,0.06,NaN,NaN,0.01,1
15,Indiana,0.80,0.09,0.08,0.02,NaN,NaN,0.01,1
16,Iowa,0.85,0.03,0.08,0.02,NaN,NaN,0.01,1
17,Kansas,0.75,0.05,0.12,0.03,NaN,0.00,0.04,1
18,Kentucky,0.85,0.07,0.03,NaN,NaN,0.00,0.02,1
19,Louisiana,0.58,0.32,0.05,0.02,NaN,NaN,0.02,1
20,Maine,0.91,NaN,0.02,0.02,NaN,0.00,0.03,1
21,Maryland,0.50,0.30,0.11,0.06,NaN,NaN,0.03,1
22,Massachusetts,0.73,0.07,0.11,0.07,NaN,NaN,0.01,1
23,Michigan,0.76,0.14,0.05,0.03,NaN,NaN,0.02,1
24,Minnesota,0.82,0.06,0.05,0.03,0.02,NaN,0.01,1
25,Mississippi,0.56,0.38,0.03,NaN,NaN,NaN,0.01,1
26,Missouri,0.80,0.11,0.04,0.02,NaN,NaN,0.02,1
27,Montana,0.90,0.01,0.03,0.01,NaN,NaN,NaN,1
28,Nebraska,0.79,0.05,0.11,0.02,NaN,0.00,NaN,1
29,Nevada,0.50,0.09,0.28,0.08,NaN,NaN,0.03,1
30,New Hampshire,0.91,0.01,0.03,0.03,NaN,NaN,0.02,1
31,New Jersey,0.56,0.13,0.18,0.11,NaN,NaN,0.01,1
32,New Mexico,0.38,0.02,0.44,0.01,NaN,NaN,NaN,1
33,New York,0.58,0.14,0.18,0.08,NaN,NaN,0.01,1
34,North Carolina,0.62,0.21,0.11,0.02,NaN,NaN,0.02,1
35,North Dakota,0.85,0.03,0.03,0.02,0.05,NaN,0.03,1
36,Ohio,0.79,0.12,0.04,0.02,NaN,NaN,0.03,1
37,Oklahoma,0.65,0.07,0.12,0.02,0.09,NaN,0.05,1
38,Oregon,0.74,0.02,0.15,0.04,NaN,NaN,0.04,1
39,Pennsylvania,0.76,0.10,0.08,0.04,NaN,NaN,0.02,1
40,Rhode Island,0.72,0.07,0.15,0.04,NaN,0.00,NaN,1
41,South Carolina,0.64,0.27,0.05,0.02,NaN,NaN,0.01,1
42,South Dakota,0.83,0.02,0.04,NaN,NaN,NaN,0.02,1
43,Tennessee,0.73,0.17,0.06,0.02,NaN,NaN,0.02,1
44,Texas,0.44,0.12,0.37,0.05,0.00,NaN,0.01,1
45,Utah,0.81,0.01,0.13,0.02,0.01,NaN,NaN,1
46,Vermont,0.94,0.01,0.01,0.01,NaN,0.00,0.02,1
47,Virginia,0.62,0.19,0.10,0.06,NaN,NaN,0.02,1
48,Washington,0.69,0.03,0.13,0.08,NaN,NaN,0.04,1
49,West Virginia,0.93,0.03,0.01,NaN,NaN,0.00,0.02,1
50,Wisconsin,0.78,0.06,0.10,0.03,NaN,NaN,0.02,1
51,Wyoming,0.85,0.01,0.09,0.01,NaN,0.00,0.02,1

In [6]:
#drop the total column

demo_df.drop(demo_df.columns[8], axis = 1, inplace = True)

demo_df

,Location,White,Black,Hispanic,Asian,American Indian/Alaska Native,Native Hawaiian/Other Pacific Islander,Two Or More Races
1,Alabama,0.65,0.27,0.04,NaN,NaN,NaN,0.02
2,Alaska,0.58,0.03,0.06,0.07,0.16,NaN,0.07
3,Arizona,0.51,0.04,0.37,0.03,NaN,NaN,0.02
4,Arkansas,0.74,0.15,0.07,0.02,NaN,NaN,0.02
5,California,0.39,0.06,0.38,0.15,0.00,0.01,0.02
6,Colorado,0.69,0.04,0.21,0.03,NaN,NaN,0.02
7,Connecticut,0.70,0.09,0.15,0.04,NaN,0.00,NaN
8,Delaware,0.63,0.21,0.10,0.04,NaN,0.00,NaN
9,District of Columbia,0.37,0.46,0.11,0.05,NaN,NaN,0.02
10,Florida,0.54,0.16,0.26,0.02,0.00,NaN,0.01
11,Georgia,0.52,0.31,0.10,0.05,NaN,NaN,0.02
12,Hawaii,0.19,0.02,0.10,0.39,NaN,0.14,0.16
13,Idaho,0.84,0.01,0.13,0.01,NaN,NaN,0.01
14,Illinois,0.63,0.13,0.16,0.06,NaN,NaN,0.01
15,Indiana,0.80,0.09,0.08,0.02,NaN,NaN,0.01
16,Iowa,0.85,0.03,0.08,0.02,NaN,NaN,0.01
17,Kansas,0.75,0.05,0.12,0.03,NaN,0.00,0.04
18,Kentucky,0.85,0.07,0.03,NaN,NaN,0.00,0.02
19,Louisiana,0.58,0.32,0.05,0.02,NaN,NaN,0.02
20,Maine,0.91,NaN,0.02,0.02,NaN,0.00,0.03
21,Maryland,0.50,0.30,0.11,0.06,NaN,NaN,0.03
22,Massachusetts,0.73,0.07,0.11,0.07,NaN,NaN,0.01
23,Michigan,0.76,0.14,0.05,0.03,NaN,NaN,0.02
24,Minnesota,0.82,0.06,0.05,0.03,0.02,NaN,0.01
25,Mississippi,0.56,0.38,0.03,NaN,NaN,NaN,0.01
26,Missouri,0.80,0.11,0.04,0.02,NaN,NaN,0.02
27,Montana,0.90,0.01,0.03,0.01,NaN,NaN,NaN
28,Nebraska,0.79,0.05,0.11,0.02,NaN,0.00,NaN
29,Nevada,0.50,0.09,0.28,0.08,NaN,NaN,0.03
30,New Hampshire,0.91,0.01,0.03,0.03,NaN,NaN,0.02
31,New Jersey,0.56,0.13,0.18,0.11,NaN,NaN,0.01
32,New Mexico,0.38,0.02,0.44,0.01,NaN,NaN,NaN
33,New York,0.58,0.14,0.18,0.08,NaN,NaN,0.01
34,North Carolina,0.62,0.21,0.11,0.02,NaN,NaN,0.02
35,North Dakota,0.85,0.03,0.03,0.02,0.05,NaN,0.03
36,Ohio,0.79,0.12,0.04,0.02,NaN,NaN,0.03
37,Oklahoma,0.65,0.07,0.12,0.02,0.09,NaN,0.05
38,Oregon,0.74,0.02,0.15,0.04,NaN,NaN,0.04
39,Pennsylvania,0.76,0.10,0.08,0.04,NaN,NaN,0.02
40,Rhode Island,0.72,0.07,0.15,0.04,NaN,0.00,NaN
41,South Carolina,0.64,0.27,0.05,0.02,NaN,NaN,0.01
42,South Dakota,0.83,0.02,0.04,NaN,NaN,NaN,0.02
43,Tennessee,0.73,0.17,0.06,0.02,NaN,NaN,0.02
44,Texas,0.44,0.12,0.37,0.05,0.00,NaN,0.01
45,Utah,0.81,0.01,0.13,0.02,0.01,NaN,NaN
46,Vermont,0.94,0.01,0.01,0.01,NaN,0.00,0.02
47,Virginia,0.62,0.19,0.10,0.06,NaN,NaN,0.02
48,Washington,0.69,0.03,0.13,0.08,NaN,NaN,0.04
49,West Virginia,0.93,0.03,0.01,NaN,NaN,0.00,0.02
50,Wisconsin,0.78,0.06,0.10,0.03,NaN,NaN,0.02
51,Wyoming,0.85,0.01,0.09,0.01,NaN,0.00,0.02

In [7]:
#Get rid of territories in in urbanization data

combine_df = pd.merge(urb_df, elas_df, on='state')

combine_df.head(51)

                   state  urbanindex  elasticity
0                Alabama    9.605935        0.89
1                 Alaska    8.735964        1.16
2                Arizona   11.299710        1.05
3               Arkansas    9.259444        1.00
4             California   12.190280        0.94
5               Colorado   11.154450        1.07
6            Connecticut   11.409680        0.99
7               Delaware   11.009990        0.93
8   District of Columbia   13.440570        0.80
9                Florida   11.464840        1.03
10               Georgia   10.552330        0.90
11                Hawaii   11.086210        1.07
12                 Idaho    9.593634        1.12
13              Illinois   11.623720        1.01
14               Indiana   10.410500        0.99
15                  Iowa    9.593525        1.08
16                Kansas   10.120440        1.00
17              Kentucky    9.789536        0.94
18             Louisiana   10.175180        0.96
19                 Maine    9.037091        1.13
20              Maryland   11.711050        0.96
21         Massachusetts   11.839730        1.15
22              Michigan   10.805590        1.07
23             Minnesota   10.456840        1.03
24           Mississippi    8.910859        0.92
25              Missouri   10.202120        0.95
26               Montana    8.470226        1.07
27              Nebraska   10.199120        1.01
28                Nevada   11.769720        1.08
29         New Hampshire    9.917139        1.15
30            New Jersey   12.235650        1.01
31            New Mexico    9.896993        1.02
32              New York   12.558570        0.97
33        North Carolina   10.324810        0.98
34          North Dakota    9.054678        0.98
35                  Ohio   10.876870        1.02
36              Oklahoma    9.939280        0.94
37                Oregon   10.712330        1.00
38          Pennsylvania   11.146230        1.00
39          Rhode Island   11.721240        1.15
40        South Carolina   10.111420        0.97
41          South Dakota    8.728642        1.01
42             Tennessee   10.197290        0.98
43                 Texas   11.174880        1.03
44                  Utah   10.962810        1.06
45               Vermont    8.843222        1.12
46              Virginia   10.906250        0.94
47            Washington   11.119330        1.00
48         West Virginia    9.111112        1.04
49             Wisconsin   10.191310        1.07
50               Wyoming    8.256294        1.08

In [8]:
#getting cleaned urb_df back out by splitting it from combine_df

urb2_df = combine_df[['state', 'urbanindex']].copy()

urb2_df.head(51)

                   state  urbanindex
0                Alabama    9.605935
1                 Alaska    8.735964
2                Arizona   11.299710
3               Arkansas    9.259444
4             California   12.190280
5               Colorado   11.154450
6            Connecticut   11.409680
7               Delaware   11.009990
8   District of Columbia   13.440570
9                Florida   11.464840
10               Georgia   10.552330
11                Hawaii   11.086210
12                 Idaho    9.593634
13              Illinois   11.623720
14               Indiana   10.410500
15                  Iowa    9.593525
16                Kansas   10.120440
17              Kentucky    9.789536
18             Louisiana   10.175180
19                 Maine    9.037091
20              Maryland   11.711050
21         Massachusetts   11.839730
22              Michigan   10.805590
23             Minnesota   10.456840
24           Mississippi    8.910859
25              Missouri   10.202120
26               Montana    8.470226
27              Nebraska   10.199120
28                Nevada   11.769720
29         New Hampshire    9.917139
30            New Jersey   12.235650
31            New Mexico    9.896993
32              New York   12.558570
33        North Carolina   10.324810
34          North Dakota    9.054678
35                  Ohio   10.876870
36              Oklahoma    9.939280
37                Oregon   10.712330
38          Pennsylvania   11.146230
39          Rhode Island   11.721240
40        South Carolina   10.111420
41          South Dakota    8.728642
42             Tennessee   10.197290
43                 Texas   11.174880
44                  Utah   10.962810
45               Vermont    8.843222
46              Virginia   10.906250
47            Washington   11.119330
48         West Virginia    9.111112
49             Wisconsin   10.191310
50               Wyoming    8.256294

In [10]:
#rds_connection_string = "postgres:J@3eaze1@localhost:5432/ByState.db"
#

In [10]:
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [20]:
#engine.table_names()

In [ ]:
#Write dataframes to csv for import into postgresql

In [9]:
demo_df.to_csv('~\Desktop\ETL_project\state_demo_cleaned.csv', index = False)

In [10]:
urb2_df.to_csv(r'~\Desktop\ETL_project\urbanization_cleaned.csv', index = False)

In [11]:
urb3_df = combine_df[['state', 'elasticity']].copy()

urb3_df.head(20)

                   state  elasticity
0                Alabama        0.89
1                 Alaska        1.16
2                Arizona        1.05
3               Arkansas        1.00
4             California        0.94
5               Colorado        1.07
6            Connecticut        0.99
7               Delaware        0.93
8   District of Columbia        0.80
9                Florida        1.03
10               Georgia        0.90
11                Hawaii        1.07
12                 Idaho        1.12
13              Illinois        1.01
14               Indiana        0.99
15                  Iowa        1.08
16                Kansas        1.00
17              Kentucky        0.94
18             Louisiana        0.96
19                 Maine        1.13

In [12]:
urb3_df.to_csv(r'~\Desktop\ETL_project\elas_cleaned.csv', index = False)